body {
    margin: 0;
    padding: 0;
}
.shadow{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/* ---------------------------------------- */
.anaDivSticky{
    position: sticky;
    top: 0px;
    height: 2000px;
}
/* Top Navbar */
.topMenu{
    background-color: white;
    height: 54px;
    border: 1px solid rgb(211, 211, 211);
    /* position: -webkit-sticky; */
    /* position: sticky;
    top: 20px; */
}

.topMenuLogo{
    /* border: 1px solid red; */
    width: 250px;
    margin-left: 192px;
    height: 54px;
    float: left;
}

.topMenuLogo>p>a{
    text-decoration: none;
    font-family: 'Satisfy', cursive;
    color: black;
    font-size:33px;
    padding-left: 5px;
    padding-top: 3px;
}

.topMenuSearch{
    /* border: 1px solid orange; */
    height: 54px;
    width: 300px;
    float:left;
    margin-left: 65px;
}

.searchDiv{
    margin-top: 9px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    width: 250px;
}

.searchDiv>center>input{
    border: none;
    color: rgb(192, 192, 192);
    text-align: center;
    margin-top: 1px;
    outline: none;
}


.topMenuIcon{
    /* border: 1px solid purple; */
    height: 54px;
    width: 300px;
    float:right;
    margin-right: 192px;
}

.topMenuIcon>img{
  float: right;
  margin-right: 20px;
  margin-top: 12px;
}
/* -------------------------------------------------------- */
/* Middle Container */

.storyDiv {
    width: 41%;
    height: 85px;
    margin-left: 192px;
    margin-top: 30px;
    float: left;
}

.storybox {
    border: 0px solid transparent;
    width: 100px;
    height: 75px;
    margin-left: 8px;
    margin-top: 5px;
    float: left;
}

.imgbox>p>a{
    text-decoration: none;
    color: black;
}

.anaDiv2Sticky{
    position: sticky;
    top: 0px;
    
}


.postDiv{
    border: 1px solid transparent;
    float: left;
    width: 41%;
    height: 2900px;
    margin-left: 192px;
    margin-top: 8px;
}

.postInfoIcon>img
{
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 5px;
}

.card{
    width: 100%;
}

/* Profile Div */
.profileDiv {
    width: 25%;
    border: 1px solid transparent;
    height: 400px;
    margin-left: 40px;
    margin-top: 9px;
    float: left;
}
.profileDivInfo{
    border:1px solid transparent ;
    width: auto;
    height: 80px;
    margin-top: 3px;
}



























/* Font Instagram */
/* font-family: "ProximaNovaBold"; */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}